extends ../base

block content 
    form(method="POST")
        input(placeholder="Old password")
        input(placeholder="New password")
        input(placeholder="New password Confirm")
        input(value="Change Password", type="submit")